/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-color: #1e293b;
}

.heading {
  font-size: 70px;
  font-family: 'Bree Serif';
  color: #f0bb03;
}

.message {
  font-family: 'Bree Serif';
  color: #ffffff;
}

.button {
  font-family: 'Bree Serif';
  border-radius: 12px;
  border: none;
  height: 32px;
  width: 90px;
  background-color: #ffffff;
}
